<section class="not-found">
  <div class="not-found__inner">
    <p class="not-found__code">404</p>
    <h1 class="not-found__title">This trail leads nowhere.</h1>
    <p class="not-found__lead">
      The page you were looking for doesn't exist or has been moved. Pick a route below and we'll get you back on track.
    </p>
    <div class="not-found__links">
      <a routerLink="/" class="not-found__link not-found__link--primary">Home</a>
      <a routerLink="/activities" class="not-found__link">Activities</a>
      <a routerLink="/about" class="not-found__link">About</a>
      <a routerLink="/contact" class="not-found__link">Contact</a>
    </div>
  </div>
</section>
