<div class="faq-container">
  <div class="faq-header">
    <h2>{{ copy.heading }}</h2>
    <p [innerHTML]="copy.intro"></p>
  </div>

  <div class="faq-list">
    <div class="faq-item" *ngFor="let faq of faqs; let i = index; trackBy: trackByIndex">
      <div class="faq-question" (click)="toggleFaq(i)">
        <h3>{{ faq.question }}</h3>
        <mat-icon [class.rotated]="faq.isOpen">expand_more</mat-icon>
      </div>
      <div class="faq-answer" [class.open]="faq.isOpen">
        <div class="faq-answer-content" (click)="onAnswerClick($event)">
          <p [innerHTML]="faq.answer"></p>
        </div>
      </div>
    </div>
  </div>
</div>